body {
    background-color: #382121;
    max-width: 600px;
    margin: 20px auto;
	width: 80%;
	max-width: 600px;

	color: #afaeae;
	padding: 10px;
	text-align: center;
}
form {
  margin: 0 auto;
  max-width: 600px;
}

label {
  display: block;
  margin-top: 1em;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1em;
}

select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1em;
}

input[type="radio"] {
  margin-right: 0.5em;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
